input[type="checkbox"] {
  display: none;
}

input + label {
  display: block;
  // width: 360px;
  height: 220px;
  border: none;
  padding: 0;
  margin: 0;
  outline: none;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  /*  transition: .4s;
*/
cursor: pointer;
}

input:checked + label {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;

  /*  transform: translate(calc(2em + 160px - 100vw), calc(0px - 120px - 2em));
*/
  background-color: rgba(10, 10, 10, 0.9);
  background-size: auto;
  z-index: 99999;
}

// input:hover + label {
//   //display: inline-block;
//   overflow: hidden;
//   transition: 1s;
//   display: block;
//   transform: scale(1.2);
// }
// input:hover + label {
//   position:absolute;
//   left:0;
//   bottom:0;
//   right:0;
//   top:0;
//   background:rgba(255,255,255, 0.7);
//   padding:5px;
//   display:none;
// }

.text {
  text-align: center;
}

.text1 {
  font-size: 150%;
}

a:link {
  color: black;
}

a:visited {
  color: black;
}

// @media (min-width: 600px) {
//   #mainmenu {
//     background: #444;
//     position: relative;
//     overflow: hidden;
//     height: 40px;
//     margin: 30px 0;
//   }
// }

// @media (max-width: 320px) {
//   #mainmenu {
//     background: #444;
//     position: relative;
//     overflow: hidden;
//     height: 40px;
//     margin: 30px 0;
//   }
// }
// @media (min-width: 600px) {
//   #mainmenu ul {
//     list-style: none;
//     margin: 0;
//     padding: 0;
//     position: relative;
//     left: 50%;
//     float: left;
//     font: 14px Arial, Helvetica, sans-serif;
//     height: 40px;
//   }
// }

// @media (max-width: 320px) {
//   #mainmenu ul {
//     list-style: none;
//     margin: 0;
//     padding: 0;
//     position: relative;
//     left: 50%;
//     float: left;
//     font: 14px Arial, Helvetica, sans-serif;
//     height: 40px;
//   }
// }
// @media (min-width: 600px) {
//   #mainmenu ul li {
//     position: relative;
//     left: -50%;
//     float: left;
//     margin: 0 10px;
//     height: 40px;
//   }
// }
// @media (max-width: 320px) {
//   #mainmenu ul li {
//     position: relative;
//     left: -50%;
//     float: left;
//     margin: 0 10px;
//     height: 40px;
//   }
// }
// @media (min-width: 600px) {
//   #mainmenu ul li a {
//     color: #fff;
//     display: block;
//     text-decoration: none;
//     padding: 0 15px;
//     line-height: 40px;
//   }
// }
// @media (max-width: 320px) {
//   #mainmenu ul li a {
//     color: #fff;
//     display: block;
//     text-decoration: none;
//     padding: 0 15px;
//     line-height: 40px;
//   }
// }
// @media (min-width: 600px) {
//   #mainmenu ul li a:hover {
//     background-color: #666;
//   }
// }
// @media (max-width: 320px) {
//   #mainmenu ul li a:hover {
//     background-color: #666;
//   }
// }

// #mainmenu {
//   // background: #444;
//   position: relative;
//   overflow: hidden;
//   height: 40px;
//   margin: 30px 0;
// }

// #mainmenu ul {
//   list-style: none;
//   margin: 0;
//   padding: 0;
//   position: relative;
//   left: 50%;
//   float: left;
//   font: 14px Arial, Helvetica, sans-serif;
//   height: 40px
// }

// #mainmenu ul li {
//   position: relative;
//   left: -50%;
//   float: left;
//   margin: 0 10px;
//   height: 40px
// }

// #mainmenu ul li a {
//   // color: #fff;
//   display: block;
//   text-decoration: none;
//   padding: 0 15px;
//   line-height: 40px;
//   font-size: 20px;
// }

// #mainmenu ul li a:hover {
//   background-color: rgb(235, 235, 235);
// }

.container3 {
  display: grid;
  // grid-template-columns: 1fr 1fr;

  grid-template-columns: repeat(auto-fit, minmax(460px, 1fr));
}


.container4 {
  display: grid;
  grid-gap: 4em;
  // grid-template-columns: 1fr 1fr 1fr;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.e {
  padding-left: 30px;
}

.yt {
  position: relative;
  display: block;
  width: 100%; /* width of iframe wrapper */
  height: 0;
  margin: auto;
  padding: 0% 0% 56.25%; /* 16:9 ratio */
  overflow: hidden;
}

.yt iframe {
  position: absolute;
  top: 0; bottom: 0; left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.carousel-fade .carousel-item, .carousel-item img  {
  max-height: 100vh;
}

.holder {
  position: relative;
  // width: 100%;
   height: 220px;
  //background-size: 100%;
  //background-image: url('https://curious-world.ru/images/content/art/11-2017/sergey_truhan/11.jpg');
 // background: #ff6600;
  //margin:100px auto;
}
.block {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  background: rgba(255, 255, 255, 0.7);
  padding: 5px;
  display: none;
}
.holder:hover .block {
  display: block;
}
